/* Custom style for changing separator  */
.breadcrumb-item + .breadcrumb-item::before {
	content: "〉";
}

.btn:focus,
.btn:active,
button:focus,
button:active {
	outline: none !important;
	box-shadow: none !important;
}

#image-gallery .modal-footer {
	display: block;
}

.thumb {
	margin-top: 15px;
	margin-bottom: 15px;
}

.swal2-popup {
	font-size: 14px !important;
}